.match {
  font-size: 14px;
  min-height: 110px;

  &__top, &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top {
    min-height: 70px;
    margin-bottom: 10px;
  }

  &__bottom {
    flex-direction: column;
  }

  &__middle {
    text-align: center;
  }

  &__rivals {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
  }

  &__logo {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-img {
    width: 100%;
  }

  &__info {
    font-size: 14px;
    color: grey;
  }

  &__score {
    padding: 6px;
    border-radius: 4px;
    background: var(--colorGreen100);
    display: inline-block;
    font-weight: normal;
    letter-spacing: .5px;
    color: #fff;
    min-width: 45px;
    height: 28px;
    margin: 0 9px;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 18px;

    &--fail {
      background: var(--colorRed100);
    }

    &--draw {
      background: orange;
    }
  }

  &__countdown {
    text-align: center;
    margin-top: 10px;
    line-height: 27px;

    &--red {
      color: var(--colorRed100);
    }
  }

  &__tickets {
    margin-top: 25px;

    .Link {
      color: var(--linkButtonColor);
    }
  }

  &__rivals-list {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    max-width: 300px;
    height: 1.2em;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;

    @media all and (min-width: 576px) {
      display: block;
      width: 100%;
      margin: 0 auto 15px;
    }
  }
}
