:root {
  --colorRed100: rgb(214, 40, 24);
  --colorRed80: rgba(214, 40, 24, .5);
  --colorGreen100: rgb(0, 156, 70);
  --colorGreen80: rgba(0, 156, 70, .5);
  --colorOrange100: rgb(255, 165, 0);
  --colorOrange50: rgba(255, 165, 0, .5);
}

body[scheme="client_dark"] {
  --linkButtonColor: #333;
}

body[scheme="client_ligth"] {
  --linkButtonColor: #fff;
}
