:root {
  --colorRed100: rgb(214, 40, 24);
  --colorRed80: rgba(214, 40, 24, .5);
  --colorGreen100: rgb(0, 156, 70);
  --colorGreen80: rgba(0, 156, 70, .5);
  --colorOrange100: rgb(255, 165, 0);
  --colorOrange50: rgba(255, 165, 0, .5);

  --main-gradient: linear-gradient(90deg, rgba(0, 85, 207, 1) 0%, rgba(0, 187, 238, 1) 98%);

  --button_primary_background: rgb(0, 174, 239);
  --header_background: var(--button_primary_background);
  --tabbar_active_icon: var(--button_primary_background);
  --accent: var(--button_primary_background);
}

body[scheme="client_dark"] {
  --linkButtonColor: #333;
}

body[scheme="client_ligth"] {
  --linkButtonColor: #fff;
}

#welcome {
  .Panel__in {
    padding: 0;
  }
}

.button-next {
  background: var(--background_content);
}
