.welcome {
  &__slide {
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__image {
    max-height: 100vh;
    overflow: hidden;
    object-fit: cover;
  }
}
